.user {
    font-size: 15px;
    color: silver;
    word-spacing: 2px;
    letter-spacing: 2px;
    line-height: 3px;
} 

.message {
    font-size: 15px;
    color: silver;
    word-spacing: 2px;
    max-width: 25%;
    letter-spacing: 2px;
    line-height: 3px;
}
